# Ignore generated _bookdown_files and build folders
_bookdown_files/
_book/
.Rhistory
.Rproj.user

# Ignore all HTML except ones in docs/ (recursively)
*.html
!docs/**/*.html

# Ignore workspace settings
.vscode/settings.json
